
h1{
font-family: 'Barrio', cursive;
text-shadow: 4px 3px 0px orange, 9px 8px 0px rgba(0,0,0,0.3);
font-size: 100px;
}

body{
  background-color:orange;
}
.header, h1{
  margin: 0;
}
.canvas-css, .player1, .player2{
   text-align: center;
   overflow: hidden;
}

.canvas-css{
  width: 70%;
  float: left;
}

.player1{
  width: 15%;
  float: left;
}

.player2{
  width: 15%;
  float: right;
}
.container, .header{
  text-align: center;
  height: auto;
}

#reset{
  clear: both;
  margin-top: 5%;
}
 p, button{
font-family: 'Gloria Hallelujah', cursive;
}

#p1, #p2{
  font-size: 40px;

}
.btn1{
  font-size: 15px;
}
input{
  background-color: transparent;
}

.btn1, .btn2 {
  border-radius: 6px;
  border: none;
        padding: 6px 12px;
        text-align: center;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
  }
  .btn1 {
        background-color: rgba(255, 105, 0, 0.5);
  }
  .btn1:hover {
     background-color: rgba(255, 105, 0, 1);
     color: white;
}

.btn2{
  background-color: rgba(255, 105, 0, 1);
}
.btn2:hover{
  background-color: rgb(171, 0, 0);
  color: white;

}
.player1{
  display: block;
}

.remarked{
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.footer{
  text-align: center;
  margin: 0 auto;
}


#spanP1, #spanP2 {
  border-radius: 5px;
  border: 2px solid red;
  border-color: rgb(171, 0, 0);
}

#spanP2{
  border-color: green;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}


.modal-content {
    background-color: rgba(255, 103, 33, 0.84);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content p {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 50px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
