
h1{
font-family: 'Barrio', cursive;
text-shadow: 4px 3px 0px orange, 9px 8px 0px rgba(0,0,0,0.3);
font-size: 100px;
}

body{
  background-color:orange;
}
.header, h1{
  margin: 0;
}
.canvas-css, .player1, .player2{
  /* border:solid 4px black; */
   display:inline-block;

}

.container, .header{
  text-align: center;
}

.player1{
  float: left;
}
.player2{
  float: right;
}

#reset{
  clear: both;
}
p span, p, button{
font-family: 'Gloria Hallelujah', cursive;
}
p {
  font-size: 200%;
}
.btn1{
  font-size: 50%;
}
input{
  background-color: transparent;
}

.btn1 {
  border-radius: 6px;
  border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        display: inline-block;
        /* font-size: 16px; */
        transition-duration: 0.4s;
        cursor: pointer;
  }
  .btn1 {
        background-color: rgba(255, 105, 0, 0.5);
        color: black;
  }
  .btn1:hover {
     background-color: rgba(255, 105, 0, 1);
     color: white;
}

.player1{
  display: block;
}
