.game-background, .options, .hi-score, .how-to-play, .start-menu, .controls {
  margin-left: 15%;
  top: 20%;
  right: 0;
  left: 0;
  width: 717px;
  height: 500px;
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
}

.controls{
  text-align: center;
  margin-left: 65%;
  background-color: black;
  width: 200px;
  font-family: 'VT323', monospace;

}
/* *{
  border:1px solid brown;
} */
img{
  margin-top: 5%;
}

h2, p{
  color:green;
}
h2, h1{

  font-size: 45px;
}

.controls p{
  font-size: 18px;
}


input{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: green;
  font-size: 35px;
  overflow:hidden;
  text-align: center;
  margin:0px;
  padding-left: 0px;
}

.start-menu, .options, .hi-score{
  text-align: center;
  background-color: black;
}

.options-menu{
  width: 70%;
  margin-left: 15%;
}

.lists{
  list-style-type: none;
  padding:0px;
  margin-top: 3%;
  font-family: 'VT323', monospace;
  font-size: 35px;
}

li{
  display: block;
  padding-left: 0px;
  margin:auto;
  margin-bottom: 2%;
}

a{
  text-decoration: none;
  color: green;
}

a:hover{
  color: white;
  transition: color .25s ease-in;
}

.back-hiscore{
  font-family: 'VT323', monospace;
  font-size: 35px;
}

.navbar-brand, h1{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px !important;
}
.hi-score{
  text-align: center;
}
.hi-score h1{
  font-family: 'VT323', monospace;
}
h1{
font-family: 'Roboto', sans-serif !important;
  color:white !important;
  margin-left: 15% !important;
}

th{
  color: green;
}
.how-to-play{
  background-color: black;
}
table{
  font-family: 'VT323', monospace;
  font-size: 30px;
  text-align: center;
  margin-left: 40%;
  color: white;
}
/* .table-score{
  text-align: center;
} */

.sky-background {
  height: 100%;
  width: 497px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: url(images/sky2.png) repeat-y;
  animation: 300s background-movement linear infinite;
}

.plane-data{
  height: 100%;
  width: 220px;
  float: right;
  background-color: black;
  text-align: center;
}

 h1{
  font-family: 'VT323', monospace;
  font-size: 55px;
  color: green;
  padding: 0px;
  margin: 20px;
}

#score{
  font-family: 'VT323', monospace;
  color: white;
  font-size: 50px;
}

#lives-container{
  margin-top: 15%;
  width: 75%;
  height: 153px;
  left: 12%;
  position:relative;
}
 .plane-data p{
   color:green;
   font-size: 60px;
   font-family: 'VT323', monospace;
 }
.lives{
  left: 40px;
  height: 51px;
  width: 53px;
  background: url("images/heart.png");
  float: left;
}

.gameContent {
  height: 25%;
  width: 25%;
  position: absolute;
  left: 30%;
  top: 30%;
}

.explosion {
  height: 128px;
  width: 128px;
  position: absolute;
  background: url('images/explosionBig.png') left center;
  z-index: 9998;
  animation: explode .8s steps(14);
}

#plane {
  height: 75px;
  width: 95px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  background: url(images/plane.png);
}

.enemy1 {
  top: -110px;
  left: 0px;
  width: 110px;
  height: 75px;
  position: absolute;
  background: url(images/enemy1.png);
}

#submit-score{
  font-family: 'VT323', monospace;
  background-color: rgba(15, 221, 14, 0);
  font-size: 35px;
  cursor: pointer;
}

.enemy2 {
  top: -110px;
  left: 0px;
  width: 88px;
  height: 86px;
  position: absolute;
  background: url(images/enemy2.png);
}

.enemy3 {
  top: -110px;
  left: 0px;
  width: 139px;
  height: 90px;
  position: absolute;
  background: url(images/enemy3.png);
}

#life {
  width: 48px;
  height: 47px;
  top: -110px;
  background: url("images/life.png");
  position: absolute;
}

.enemy1movement {
  animation: 4s enemyforward linear;
  animation-fill-mode: forwards;
}

.immunity {
  animation: .2s immune linear infinite;
  animation-fill-mode: forwards;
}

#modalFinish {
    display: none;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

html, body{
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    background-color: #17a2b8;
}
.navBar{
  width:100%;
  height: 5%;
  position: fixed;
  background-color: blue;
}

.nav-item{
  margin:0%;
  padding: 0%;
  height: 100%;
  float: left;
}

.hamburger{
  width: 8%;
  text-align: center;
}
.logo{
  width: 17%;
}
.search{
  width: 50%;
  text-align: center;
}
.login{
  width: 25%
}

#search-box{
  margin-top: .5%;
  height: 70%;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.8);
}


.modal-content {
    background-color: rgb(145, 210, 70);
    margin: auto;
    padding: 2%;
    width: 50%;
    height: 100%;
}



#finalScore{
  font-size: 40px;
  font-family: 'VT323', monospace;

}
#name{
  font-size: 50px;
  font-family: 'VT323', monospace;
  color:green
}

#namePlayer{
  border: 1px solid;
}

@keyframes immune {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes background-movement {
  100% {
    background-position-y: 99999px;
  }
}

@keyframes enemyforward {
  100% {
    top: 700px;
  }
}

@keyframes explode {
  100% {
    background-position: -1792px;
  }
}

.oneUp-animation {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 0%;
  margin-left:10%;
  animation: 2s bounceIn;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.lists li {
  line-height: 1.2;
  text-decoration: none;
}

 a:hover{
  text-decoration: none;
}
